body {
    margin: 0px;
    background-color: #454545;
}
#bodycont {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 56px;
    right: 0px;
    padding: 5px;
    font-family: arial;
}
.errormessage {
    color: #990000;
}
.w20 {
    width: 15%;
}
.w60 {
    width: 70%;
}
.w20, .w60 {
    float: left;
    height: 100%;
}
.w60 > div, .w20 > div {
    margin: 3px;
    background-color: #cccccc;
    height: 100%;
    border-radius: 6px;
    padding: 5px;
}
#inputcont {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    padding-bottom: 5px;
}
#inputcont input {
    border: 0px;
    color: #454545;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 6px;
    width: 100%;
    padding-left: 10px;
    outline: 0px;
    box-sizing: border-box;
}
.channelBtn {
    border-radius: 4px;
    padding: 4px;
    background-color: #666666;
    margin-top: 5px;
}
.channelBtn:first-child {
    margin-top: 0px;
}
.channelBtn.activechannel {
    background-color: #8D322D;
    color: #ffffff;
}
.timestamp {
    color: #20335E;
}
.nick {
    font-weight: bold;
    color: #666;
    margin-right: 5px;
}
.nick.isme {
    color: #8D322D;
}
